body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #ecec88;
    color: #2507adb2;
}

h1,
h2 {
    color: #4008db;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #0feb08;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #23ec23;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #12f012;
}

input[type="number"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #0e0d0d;
}